.profile-container {
    display: flex;
    min-height: calc(100vh - 2*var(--body-vertical-padding) - 2*var(--app-vertical-padding) - var(--navbar-height) - var(--navbar-bottom-margin) - 2*var(--app-border-size));
}

.profile-form {
    max-width: 480px;
    width: 100%;
    margin: auto;
    height: 100%;
    padding: 28px 32px;
    /* border: var(--app-border-size) solid var(--app-secondary-color); */
    /* background: var(--app-secondary-gradient-background); */
    background-color: var(--app-primary-color);
    color: var(--app-secondary-color);
    border-radius: var(--app-border-radius);
}

.profile-form input {
    /* background-color: rgba(255, 255, 255, 0.6); */
    /* border: var(--app-border-size) solid var(--app-secondary-color); */
    color: var(--app-secondary-color);
}

.save-button {
    border: var(--app-border-size) solid var(--app-secondary-color);
    /* background: var(--app-primary-gradient-background); */
    background-color: var(--app-primary-color);
    color: var(--app-secondary-color);
    border-radius: 6px;
    font-weight: bold;
    padding: 8px 10px;
}

.save-button:hover {
    background-color: var(--app-primary-color);
    color: var(--app-secondary-color);
}

.close-button {
    text-decoration: none;
    padding: 8px 10px;
    color: var(--app-primary-color);
    border-radius: 6px;
    font-weight: bold;
}

.close-button:hover {
    color: var(--app-primary-color);
}

.profile-form .save-button:active,
.close-button:active {
    transform: scale(.98);
}